{% extends 'testapp/layout.html' %}

{% block title %}サンプル不動産{% endblock %}

{% block content %}
<div id="gmap" style="height: 600px; width: 100%;"></div>
<script>
    function initMap() {
        var marker_data = new Array();
        {% for bukken in bukken_list %}
        marker_data.push({
            name: '{{ bukken.name }}',
            address: '{{ bukken.address }}',
            lat: {{ bukken.lat }},
            lng: {{ bukken.lng }},
            url: '/hudousan/bukken?id={{ bukken.id }}'
        });
        {% endfor %}

        <!-- マップの初期設定 -->
        var map = new google.maps.Map(document.getElementById('gmap'), {
            zoom: 13.6,
            center: {lat: marker_data[0].lat, lng: marker_data[0].lng} 
        });

        <!-- マーカーを配置するループ -->
        for (i = 0; i < marker_data.length; i++) {
            var markers = new google.maps.Marker({
                position: new google.maps.LatLng(marker_data[i].lat, marker_data[i].lng),
                map: map
            });
            <!-- クリックしたら指定したurlに遷移するイベント -->
            google.maps.event.addListener(markers, 'click', (function(url){
                return function(){ location.href = url; };
            })(marker_data[i].url));
        }
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap">
</script>
{% endblock %}
